[viewBag]

[staticMenu mainMenu]
code = "main-menu"
==
<nav class="navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{{ 'home'|page }}">
				My Blog
			</a>
		</div>
		<ul class="nav navbar-nav navbar-left">
			{% partial "mainMenu::items" items=mainMenu.menuItems %}
			{% if user %}
				<li>
					<a href="{{ 'post'|page }}">Post</a>
				</li>
				<li>
					<a href="{{ 'upload'|page }}">Upload</a>
				</li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
		{% if user %}
		    <li class="dropdown">
			    <a href="#" data-toggle="dropdown">{{ user.name }}<span class="caret"></span></a>
			    	<ul class="dropdown-menu">
        				<li><a href="" data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></li>
					</ul>
			</li>
      	{% else %}
        	<li>
              	<a href="" data-toggle="modal" data-target="#signin">Sign in</a>
        	</li>
        	<li>
              	<a href="" data-toggle="modal" data-target="#signup">Sign up</a>
        	</li>
      	{% endif %}
		</ul>
	</div>
</nav>